@use "../../styles/variables";
@use "../../styles/mixins";
@use "../../styles/functions";
@use "../../styles/breakpoints";

.hero {
    @include mixins.flex(row, flex-start, center);
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    position: relative;
    background-color: hsl(240, 5, 84);

    @include breakpoints.tablet {
        height: calc(100vh - functions.pixelsToRem(variables.$body));
        align-items: flex-start;
    }

    &>img {
        width: 110% !important;
        object-fit: cover;
        object-position: 100% 60%;

        @include breakpoints.mobile {
            width: 165% !important;
            object-position: 40% 65%;
            transform: translateX(-35%);
        }
    }

    &>div {
        @include mixins.flex(column, flex-start, flex-start);
        z-index: 1;
        width: 55%;
        margin: functions.pixelsToRem(80);
        gap: functions.pixelsToRem(30);

        @include breakpoints.tablet {
            width: 75%;
            margin: functions.pixelsToRem(50);
        }

        @include breakpoints.mobile {
            width: 95%;
            gap: functions.pixelsToRem(20);
        }

        & h1 {
            font-family: variables.$display;
            font-size: functions.pixelsToRem(100);

            @include breakpoints.tablet {
                font-size: functions.pixelsToRem(70);
            }

            @include breakpoints.mobile {
                font-size: functions.pixelsToRem(40);
            }
        }

        & p {
            font-size: functions.pixelsToRem(45);

            @include breakpoints.tablet {
                font-size: functions.pixelsToRem(30);
            }

            @include breakpoints.tablet {
                font-size: functions.pixelsToRem(25);
            }
        }
    }

    &>svg {
        position: absolute;
        bottom: 0;
    }
}