@use "../styles/variables";
@use "../styles/functions";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: variables.$copy;
    color: variables.$blueberry;
    text-decoration: none;
    font-weight: normal;
    scroll-behavior: smooth;
    scroll-padding-top: calc(functions.pixelsToRem(calc(variables.$body + (40 * 4))));
}