@use "../styles/variables";
@use "../styles/mixins";
@use "../styles/functions";
@use "../styles/breakpoints";

.main {
    max-width: 100dvw;
    overflow: hidden;

    & h2 {
        font-family: variables.$display;
        font-size: functions.pixelsToRem(50);
        text-align: center;
        margin: functions.pixelsToRem(variables.$h2-desktop);

        @include breakpoints.tablet {
            margin: functions.pixelsToRem(50);
        }

        @include breakpoints.mobile {
            font-size: functions.pixelsToRem(variables.$h2-mobile);
        }
    }

    &>section[data-container="advantages"] {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: functions.pixelsToRem(50);
        margin: 0 functions.pixelsToRem(80);

        @include breakpoints.laptop {
            margin: 0 functions.pixelsToRem(50);
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }

        @include breakpoints.tablet {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(8, 1fr);
            gap: functions.pixelsToRem(30);
        }
    }

    &>section[data-container="consultations"] {
        @include mixins.flex(column, center, center);
        gap: functions.pixelsToRem(50);
    }
}