@use "../../styles/variables";

.wave {
    fill: variables.$lavender;
    width: 200%;
    transform-box: fill-box;

    &[data-horizontal="false"][data-vertical="false"] {
        animation: wave-not-flipped 18s infinite alternate both linear;
    }

    &[data-horizontal="true"][data-vertical="false"] {
        animation: wave-flipped-horizontal 18s infinite alternate both linear;
    }

    &[data-horizontal="false"][data-vertical="true"] {
        animation: wave-flipped-vertical 18s infinite alternate both linear;
    }

    &[data-horizontal="true"][data-vertical="true"] {
        animation: wave-flipped-horizontal-and-vertical 18s infinite alternate both linear;
    }
}

@keyframes wave-not-flipped {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes wave-flipped-horizontal {
    from {
        transform: translateX(-25%) scaleX(-1);
    }

    to {
        transform: translateX(25%) scaleX(-1);
    }
}

@keyframes wave-flipped-vertical {
    from {
        transform: translateX(0) scaleY(-1);
    }

    to {
        transform: translateX(-50%) scaleY(-1);
    }
}

@keyframes wave-flipped-horizontal-and-vertical {
    from {
        transform: translateX(-25%) scale(-1, -1);
    }

    to {
        transform: translateX(25%) scale(-1, -1);
    }
}